h1, h5, h4{
	/*color: #F70201;*/
	font-weight: bold;
	color: cadetblue; }


img {
	border: 3px solid white;
	width: 200px;
	height: 200px;
}

.btn.btn-primary {
background-color: cadetblue;
}
.pt-4{
	margin-top: 5%;
}